html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.robot {
  width: 320px;
  display: inline-block;
  transform: translateX(-50%);
  position: relative;
  top: 0;
  left: 50%;
  max-width: 50em;
}

.robot-body {
  width: 320px;
  position: relative;
  top: 50px;
}

.robot-brain {
  position: relative;
  width: 46px;
}

.robot-head-right {
  position: relative;
  width: 125px;
}

.robot-head-left {
  position: relative;
  width: 125px;
}

.robot-head-left,
.robot-head-right {
  position: relative;
  width: 125px;
}
